{% extends 'base.html' %}

{% load static %}

{% block title %} Contact | {% endblock %}

{% block description %} Type out the description {% endblock %}

{% block content %}





<!-- contact section -->
{% if var_customer_name %}
    <center>
        <br><br><br><br><br><br><br><br><br>
        <h2 class="wow fadeInDown animated">Thanks - {{ var_customer_name }} !</h2>
                    <p class="wow fadeInDown animated">We have received your message.<br>You will get a reply soon...</p>
    </center>
    <br/><br/><br/>

{% else %}
    <section id="contact" class="section">
      <div class="container">
          <div class="section-header">
                    <h2 class="wow fadeInDown animated">Contact Us</h2>
                    <p class="wow fadeInDown animated"> <br> </p>
                </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 conForm">
            <div id="message"></div>
            <form method="post" action="{% url 'contact' %}" name="cform" id="cform">
               <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
              <input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
              <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Message..."></textarea>
              <input type="submit" id="submit" name="send" class="submitBnt" value="Send">
              <div id="simple-msg"></div>
            </form>
          </div>
        </div>
      </div>
    </section>

<!-- contact section-->


{% endif %}

{% endblock %}